## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags
## EMACS
*~
\#*
.\#*
## Other editors
*.bak
## VIM
*.swp
## Netbean
nbproject
## PROJECT::GENERAL
.bundle
coverage
rdoc
pkg
tmp
## PROJECT::SPECIFIC
config/sem4r.yml
*.log.xml
*.log
tmp/*
examples_adwords4r
## installed by bundler
bin/htmldiff
bin/jeweler
bin/ldiff
bin/nokogiri
bin/rake
bin/rspec
bin/autospec
/deploy.rdoc
