## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## Other editors
*.bak

## VIM
*.swp

## IDE Netbean
nbproject
.idea

## PROJECT::GENERAL
.bundle
coverage
rdoc
pkg
tmp

# yard
.yardoc
doc

## PROJECT::SPECIFIC
config/sem4r.yml
*.log.xml
*.log
tmp/*
extra

## installed by bundler
bin/htmldiff
bin/jeweler
bin/ldiff
bin/nokogiri
bin/rake
bin/rspec
bin/autospec
bin/yard
bin/yardoc
bin/yri
/deploy.rdoc
